html {
    height: 100%;
}

body {
    height: 100%;
}

.title{
    margin-bottom: 80px;
}

#stateMessage {
    margin-bottom: 40px;
}

.btn {
    background-color: white;
}

#linkDiv{
    width: 30%;
}

.vertical-center {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#mainView {
    height: 100%;
    text-align: center;
    background-color: rgb(72, 41, 178);
    color: white;
}

#gameView {
    height: 100%;
    text-align: center;
    background-color: rgb(72, 41, 178);
    color: white;
}

h1 {
    font-size: 4em;
}

.em-svg {
    width: 70px !important;
    height: 70px !important;
}

a:link, a:visited, a:hover, a:active {
  color: white;
}
